.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

.editor-container, .preview-container {
  margin: 4rem;
  width: 40vw;
  height: 75vh;
  border: 1px solid #224b4b;
  flex: 1 auto;
}

.preview {
  height: calc(100% - 8rem); 
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-left: 2rem;
}

.toolbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4aa3a3;
  padding: 0.1rem;
  border: 1px solid #1d2f2f;
  font-family: Russo One;
  color: black;
}

.editor {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.editor textarea {
  width: calc(100% - 2.1rem);
  height: calc(100% - 9.45rem);
  padding: 1rem;
  border: 1px solid #ccc;
}

.preview::-webkit-scrollbar, .editor textarea::-webkit-scrollbar {
  display: none;
}